header {
  z-index: 10;
  position: relative;
  height: 1080px;
  background: url(../images/clock/clock.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header .clock {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 715px;
  top: 300px;
  width: 400px;
  height: 400px;
}
header .clock .hour-hand {
  position: absolute;
  top: 12%;
  left: 46%;
  transform-origin: 50% 100%;
}
header .clock .minute-hand {
  position: absolute;
  top: 16%;
  left: 46%;
  transform-origin: 50% 100%;
}
header .clock .second-hand {
  position: absolute;
  top: 2%;
  left: 48%;
  transform-origin: 50% 100%;
}
header .clock-center {
  position: absolute;
  top: 476px;
  left: 903px;
  width: 29px;
  height: 29px;
  background: url(../images/clock/clock-center.png);
}
header #hidden-page {
  position: fixed;
  top: 0;
  left: -120%;
  width: 1920px;
  height: 1080px;
  background: url(../images/hidden-page/background.png);
  transition-property: left;
  transition-duration: 0.6s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.91, 0.03, 0.12, 1);
}
header #hidden-page.active {
  left: 0;
  transition-delay: 0s;
}
header .container .options {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 189px;
  left: 159px;
}
header .container .options > div {
  position: relative;
  margin-right: 70px;
  width: 255px;
  height: 50px;
  font-size: 25px;
  line-height: 56px;
  letter-spacing: 2px;
  color: transparent;
  background-image: linear-gradient(75deg, white 0%, white 33%, gray 66%, gray 100%);
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  border-bottom: 1px solid gray;
  transition: 1s background-position-x cubic-bezier(1, 0.01, 0, 1.01);
}
header .container .options > div::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 2px;
  width: 0px;
  background-color: white;
  transition: 1s width cubic-bezier(1, 0.01, 0, 1.01);
}
header .container .options div.colorChange {
  background-position-x: 0%;
}
header .container .options div.colorChange::after {
  width: 100%;
}
header .container .box {
  transition: all 1s;
}
header .container .box1 {
  display: none;
  flex-direction: row;
  position: relative;
  top: 274px;
  left: 159px;
  width: 1700px;
  height: 550px;
}
header .container .box1 div {
  width: 255px;
  height: 550px;
  margin-right: 69px;
}
header .container .box1 .one {
  background: url(../images/hidden-page/box1-data1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .one:hover {
  transition: all 0.3s ease;
  background: url(../images/hidden-page/box1-data6.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .two {
  background: url(../images/hidden-page/box1-data2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .two:hover {
  transition: all 0.3s ease;
  background: url(../images/hidden-page/box1-data7.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .three {
  background: url(../images/hidden-page/box1-data3.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .three:hover {
  transition: all 0.3s ease;
  background: url(../images/hidden-page/box1-data8.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .four {
  background: url(../images/hidden-page/box1-data4.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .four:hover {
  transition: all 0.3s ease;
  background: url(../images/hidden-page/box1-data9.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .five {
  background: url(../images/hidden-page/box1-data5.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box1 .five:hover {
  transition: all 0.3s ease;
  background: url(../images/hidden-page/box1-data10.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .container .box2 {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 333px;
  left: 159px;
  width: 1595px;
  height: 520px;
  text-align: center;
  opacity: 0;
}
header .container .box2 > div {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 36px;
  font-size: 20px;
}
header .container .box2 > div a {
  transition: all 0.2s ease;
  color: #4d5354;
}
header .container .box2 > div .block1,
header .container .box2 > div .block2,
header .container .box2 > div .block3,
header .container .box2 > div .block4,
header .container .box2 > div .block5,
header .container .box2 > div .block6,
header .container .box2 > div .block7 {
  transition: all 0.2s ease;
  margin-top: 17px;
  width: 37px;
  height: 51px;
}
header .container .box2 > div .block1 {
  background: url(../images/hidden-page/dark-1.png);
  background-repeat: no-repeat;
}
header .container .box2 > div .block2 {
  background: url(../images/hidden-page/dark-2.png);
  background-repeat: no-repeat;
}
header .container .box2 > div .block3 {
  background: url(../images/hidden-page/dark-3.png);
  background-repeat: no-repeat;
}
header .container .box2 > div .block4 {
  background: url(../images/hidden-page/dark-4.png);
  background-repeat: no-repeat;
}
header .container .box2 > div .block5 {
  background: url(../images/hidden-page/dark-5.png);
  background-repeat: no-repeat;
}
header .container .box2 > div .block6 {
  background: url(../images/hidden-page/dark-6.png);
  background-repeat: no-repeat;
}
header .container .box2 > div .block7 {
  background: url(../images/hidden-page/dark-7.png);
  background-repeat: no-repeat;
}
header .container .box2 .one {
  margin-top: 194px;
}
header .container .box2 .one:hover a {
  color: #ddd;
}
header .container .box2 .one:hover div {
  background: url(../images/hidden-page/light-4.png);
  background-repeat: no-repeat;
}
header .container .box2 .two {
  margin-top: 290px;
}
header .container .box2 .two:hover a {
  color: #ddd;
}
header .container .box2 .two:hover div {
  background: url(../images/hidden-page/light-1.png);
  background-repeat: no-repeat;
}
header .container .box2 .three {
  margin-top: 224px;
}
header .container .box2 .three:hover a {
  color: #ddd;
}
header .container .box2 .three:hover div {
  background: url(../images/hidden-page/light-3.png);
  background-repeat: no-repeat;
}
header .container .box2 .four {
  margin-top: 64px;
}
header .container .box2 .four:hover a {
  color: #ddd;
}
header .container .box2 .four:hover div {
  background: url(../images/hidden-page/light-5.png);
  background-repeat: no-repeat;
}
header .container .box2 .five {
  margin-top: 0;
}
header .container .box2 .five:hover a {
  color: #ddd;
}
header .container .box2 .five:hover div {
  background: url(../images/hidden-page/light-7.png);
  background-repeat: no-repeat;
}
header .container .box2 .six {
  margin-top: 257px;
}
header .container .box2 .six:hover a {
  color: #ddd;
}
header .container .box2 .six:hover div {
  background: url(../images/hidden-page/light-2.png);
  background-repeat: no-repeat;
}
header .container .box2 .seven {
  margin-top: 224px;
}
header .container .box2 .seven:hover a {
  color: #ddd;
}
header .container .box2 .seven:hover div {
  background: url(../images/hidden-page/light-3.png);
  background-repeat: no-repeat;
}
header .container .box2 .eight {
  margin-top: 91px;
}
header .container .box2 .eight:hover a {
  color: #ddd;
}
header .container .box2 .eight:hover div {
  background: url(../images/hidden-page/light-6.png);
  background-repeat: no-repeat;
}
header .container .box2 .nigh {
  margin-top: 257px;
}
header .container .box2 .nigh:hover a {
  color: #ddd;
}
header .container .box2 .nigh:hover div {
  background: url(../images/hidden-page/light-2.png);
  background-repeat: no-repeat;
}
header .container .box2 .ten {
  margin-top: 118px;
}
header .container .box2 .ten:hover a {
  color: #ddd;
}
header .container .box2 .ten:hover div {
  background: url(../images/hidden-page/light-6.png);
  background-repeat: no-repeat;
}
header .container .box2 .eleven {
  margin-top: 304px;
}
header .container .box2 .eleven:hover a {
  color: #ddd;
}
header .container .box2 .eleven:hover div {
  background: url(../images/hidden-page/light-1.png);
  background-repeat: no-repeat;
}
header .container .box2 .twelve {
  margin-top: 224px;
}
header .container .box2 .twelve:hover a {
  color: #ddd;
}
header .container .box2 .twelve:hover div {
  background: url(../images/hidden-page/light-3.png);
  background-repeat: no-repeat;
}
header .container .box2 .thirteen {
  margin-top: 268px;
}
header .container .box2 .thirteen:hover a {
  color: #ddd;
}
header .container .box2 .thirteen:hover div {
  background: url(../images/hidden-page/light-2.png);
  background-repeat: no-repeat;
}
header .container .box2 .fourteen {
  margin-top: 224px;
}
header .container .box2 .fourteen:hover a {
  color: #ddd;
}
header .container .box2 .fourteen:hover div {
  background: url(../images/hidden-page/light-3.png);
  background-repeat: no-repeat;
}
header .container .box2 .fifteen {
  margin-top: 295px;
}
header .container .box2 .fifteen:hover a {
  color: #ddd;
}
header .container .box2 .fifteen:hover div {
  background: url(../images/hidden-page/light-1.png);
  background-repeat: no-repeat;
}
header .container .box2 .sixteen {
  margin-top: 224px;
}
header .container .box2 .sixteen:hover a {
  color: #ddd;
}
header .container .box2 .sixteen:hover div {
  background: url(../images/hidden-page/light-3.png);
  background-repeat: no-repeat;
}
header .container .box3 {
  display: none;
  position: relative;
  top: 323px;
  left: 159px;
  width: 1632px;
  height: 550px;
  color: #4d5354;
  font-size: 26px;
  background-color: green;
  background: url(../images/hidden-page/desert.png);
  background-repeat: no-repeat;
  opacity: 0;
}
header .container .box3 .lt {
  position: absolute;
  top: 0;
  left: 0;
}
header .container .box3 .rt {
  position: absolute;
  top: 0;
  right: 66px;
}
header .container .box3 .lb {
  position: absolute;
  bottom: 0;
  left: 0;
}
header .container .box3 .rb {
  position: absolute;
  bottom: 0;
  right: 66px;
}
header .container .box3 .I {
  position: absolute;
  top: 140px;
  left: 1456px;
  color: #ddd;
}
header .container .box3 .moon {
  position: absolute;
  left: 392px;
  top: 0;
  width: 60px;
  height: 60px;
  background: url(../images/hidden-page/moon.png);
  background-repeat: no-repeat;
}
header .container .box3 .desert-buttom {
  position: absolute;
  left: 1503px;
  top: 149px;
  width: 50px;
  height: 25px;
  background: url(../images/hidden-page/desert-buttom.png);
  background-repeat: no-repeat;
}
header .container .box3 .hidden {
  display: flex;
  position: absolute;
  left: 1373px;
  top: 140px;
  height: 30px;
  width: 120px;
  color: transparent;
  transition: color 3s ease;
  transition-delay: 0.5s;
}
header .container .box3 .hidden .letter {
  margin-right: 9px;
}
header .container .box3 .hidden .N {
  margin-left: 16px;
}
header .container .box3 .lt.transparent,
header .container .box3 .rt.transparent,
header .container .box3 .lb.transparent,
header .container .box3 .rb.transparent {
  transition: color 2s ease;
  color: transparent;
}
header .container .box3 .hidden.appear {
  color: #ddd;
}
header .container .box3 .clothes {
  position: absolute;
  top: 237px;
  left: 257px;
  width: 111px;
  height: 130px;
  animation-name: clothes;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes clothes {
  0% {
    background: url(../images/hidden-page/cloth-1.png);
  }
  33% {
    background: url(../images/hidden-page/cloth-2.png);
  }
  66% {
    background: url(../images/hidden-page/cloth-3.png);
  }
  100% {
    background: url(../images/hidden-page/cloth-4.png);
  }
}
header .container .box3 .tails {
  position: absolute;
  top: 266px;
  left: 97px;
  width: 56px;
  height: 71px;
  animation-name: tails;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes tails {
  0% {
    background: url(../images/hidden-page/tail-1.png);
  }
  33% {
    background: url(../images/hidden-page/tail-2.png);
  }
  66% {
    background: url(../images/hidden-page/tail-3.png);
  }
  100% {
    background: url(../images/hidden-page/tail-4.png);
  }
}
header .container .box4 {
  display: none;
  position: relative;
  top: 323px;
  left: 0;
  width: 1920px;
  height: 550px;
  overflow: hidden;
  opacity: 0;
}
header .container .box4 .box4-image {
  width: auto;
  height: 550px;
  position: absolute;
  left: 0px;
  top: 0;
  cursor: grab;
}
header .container .box1.active,
header .container .box2.active,
header .container .box3.active,
header .container .box4.active {
  display: flex;
  transition: all 0.5s;
}
nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: transparent;
}
nav .option {
  position: absolute;
  right: 0;
  width: 1000px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .option a {
  font-size: 24px;
  font-weight: 500;
  margin: 25px;
  color: #f0f0f0;
}
nav .menu-button {
  position: absolute;
  height: 40px;
  width: 40px;
  background: url(../images/hidden-page/button.png);
  background-size: cover;
}
/*----------------------------全屏背景图------------------------------*/
.bg-all {
  z-index: 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 300%;
  cursor: grab;
  transition: left 1s ease;
}
.bg-all .left {
  height: 100%;
  width: 100%;
  background: url(../images/section1-bg/background-left.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-all .middle {
  height: 100%;
  width: 100%;
  background: url(../images/section1-bg/background-middle.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-all .right {
  height: 100%;
  width: 100%;
  background: url(../images/section1-bg/background-right.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-actor {
  z-index: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 130px;
  width: 816px;
  height: 787px;
  background: url(../images/section1-bg/bg-actor.png);
  background-size: contain;
  transition: all 1s ease;
}
.slider {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  width: 391px;
  height: 52px;
  background: url(../images/section1-bg/slider.png);
}
.slider .button {
  position: absolute;
  top: 0;
  left: 175px;
  width: 44px;
  height: 51px;
  background: url(../images/section1-bg/button.png);
  transition: left 1s ease;
  cursor: grab;
}
/*------------------撑开背景图的盒子------------------------*/
.section-1 {
  height: 1000px;
  width: 90%;
  visibility: hidden;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
}
/*-----------------模块一-------------------*/
.project1 {
  height: 1747px;
  position: relative;
  background-color: #fff;
}
.project1 .top {
  height: 261px;
  overflow: hidden;
}
.project1 .top .words {
  margin-top: 104px;
  margin-left: 26px;
  width: 622px;
  font-size: 36px;
  font-weight: 700;
}
.project1 .top p {
  float: right;
  margin-right: 30px;
  font-size: 24px;
  color: #808080;
}
.project1 .mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
  width: 92%;
  height: 651px;
}
.project1 .mid .left {
  display: flex;
  flex-direction: column;
  flex: 0 0 49.2%;
}
.project1 .mid .left a {
  flex: 0 0 85%;
  background: url(../images/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.project1 .mid .left p {
  font-size: 60px;
  font-weight: 700;
}
.project1 .mid .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.16fr;
  row-gap: 4px;
  column-gap: 10px;
  flex: 0 0 49.2%;
}
.project1 .mid .right .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.project1 .mid .right .box a {
  flex: 0 0 85%;
  background: url(../images/3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.project1 .mid .right .box p {
  flex: 0 0 15%;
  font-size: 24px;
  font-weight: 700;
}
.project1 .bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  width: 92%;
  height: 651px;
}
.project1 .bottom .left {
  display: flex;
  flex-direction: column;
  flex: 0 0 49.2%;
}
.project1 .bottom .left a {
  flex: 0 0 85%;
  background: url(../images/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.project1 .bottom .left p {
  font-size: 60px;
  font-weight: 700;
}
.project1 .bottom .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.16fr;
  row-gap: 10px;
  column-gap: 10px;
  flex: 0 0 49.2%;
}
.project1 .bottom .right .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.project1 .bottom .right .box a {
  flex: 0 0 85%;
  background: url(../images/3.jpg);
  background-size: contain;
}
.project1 .bottom .right .box p {
  flex: 0 0 15%;
  font-size: 24px;
  font-weight: 700;
}
/*-----------模块三---------*/
.project2 {
  height: 1500px;
  position: relative;
  background-color: #fff;
}
.project2 .top {
  height: 261px;
  overflow: hidden;
}
.project2 .top .words {
  margin-top: 104px;
  margin-left: 26px;
  width: 622px;
  font-size: 36px;
  font-weight: 700;
}
.project2 .top p {
  float: right;
  margin-right: 30px;
  font-size: 24px;
  color: #808080;
}
.project2 .container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 1230px;
}
.project2 .container .p1 {
  position: absolute;
  top: 122px;
  left: 45px;
  height: 278px;
  width: 278px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p2 {
  position: absolute;
  top: 76px;
  left: 886px;
  height: 152px;
  width: 152px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p3 {
  position: absolute;
  top: 122px;
  left: 1395px;
  height: 339px;
  width: 339px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p4 {
  position: absolute;
  top: 484px;
  left: 165px;
  height: 208px;
  width: 208px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p5 {
  position: absolute;
  top: 318px;
  left: 620px;
  height: 548px;
  width: 548px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p6 {
  position: absolute;
  top: 616px;
  left: 1395px;
  height: 152px;
  width: 152px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p7 {
  position: absolute;
  top: 1061px;
  left: 89px;
  height: 152px;
  width: 152px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p8 {
  position: absolute;
  top: 866px;
  left: 384px;
  height: 278px;
  width: 278px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p9 {
  position: absolute;
  top: 929px;
  left: 1071px;
  height: 152px;
  width: 152px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.project2 .container .p10 {
  position: absolute;
  top: 899px;
  left: 1504px;
  height: 324px;
  width: 324px;
  background: url(../images/3.jpg);
  background-size: cover;
  border-radius: 50%;
}
/*-----------footer---------*/
footer {
  position: relative;
  height: 235px;
  border-top: 2px solid #919191;
  background-color: #121212;
  overflow: hidden;
}
footer .contact {
  margin-top: 29px;
  margin-left: 43px;
  font-size: 48px;
  color: #fff;
}
